.header{
  width: 100%;
  padding: 1.5rem 0;
  .container{
   @include flexCenterJustify;
  }
  .available-to{
    @include flexCenter;
    gap: 1.8rem;
    span{
      color: $main-color;
      font-size: 1.4rem;
      font-weight: 600;
      &.console{
        border: 1.5px solid #FFF;
        padding: 0.5rem 0.8rem;
      }
    }
    div{
      display: flex;
      gap: 0.8rem;
    }
  }
  
  @include responsive('mobile'){
    .logo-gow{
      max-width: 12rem;
    }
    .logo-play{
      display: none;
    }
  }
}